body {
  /* background-image: url("../src/playa.jpg"); */
  background-repeat: no-repeat;
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: max-content;
}

.principal {
  display: flex;
  justify-content: center;
  height: auto;
  border: solid green 1px;
  overflow: hidden;
}

.shelf {
  width: 80%;
  margin: 15px 15px 15px 5px;
  border: none;
  box-shadow: 0px 0px 40px -24px;
  background-color: white;
  opacity: 0.9;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#details {
  letter-spacing: 2px;
  color: white;
  outline: none;
  border: none;
  padding: 7px 15px;
  border-radius: 2px;
  background-color: #2de233;
  margin: 4px 0px;
}
#details:hover {
  cursor: pointer;
}

/* header */
.header {
  width: 100%;
  height: 11rem;
  color: white;
}
.header--cabecera {
  background-color: rgba(0, 0, 0, 0.8);
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__cabecera--logo > h1 {
  font-size: 3em;
  margin: 0px 0px 0px 30px;
  color: #2de233;
  letter-spacing: 4px;
}
.header__cabecera--logo > p {
  letter-spacing: 3px;
  margin: 0px 0px 0px 30px;
}

.header__cabecera--contact {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin: 0px 50px 0px 0px;
  text-align: center;
}
.header__cabecera--name {
  margin: 4px 0px;
  letter-spacing: 2px;
  margin: 0;
}
.header__cabecera--name > p {
  margin: 0;
}
.header__cabecera__contact--whatsapp {
  margin: 4px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__cabecera__contact--whatsapp > p {
  letter-spacing: 1px;
  color: #2de233;
  margin: 0;
}
.header__cabecera__contact--email {
  margin: 4px 0px;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header__cabecera__contact--email > p {
  color: #2de233;
  margin: 0;
}

.header > menu {
  margin: 0;
  background-color: black;
  height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header > menu > a {
  margin: 0px 20px;
  text-decoration: none;
  color: white;
}
.header > menu > a:hover {
  border-top: #2de233 solid 1px;
  border-bottom: #2de233 solid 1px;
}

/* footer */
.footer {
  color: white;
  width: 100%;
  height: max-content;
  background-color: black;
  padding: 1%;
}